<h1>Edit page</h1>
<div id="notice"><%= flash[:notice] %></div>
<%#= flash[:success] %>
<div class='edit_total_wrap'>
  <%# @contents2.each do |v| %>
    <!-- <img src="<%#=v.image.url%>"> -->
    <%#=v.title%>
    <%#=v.description%>
  <%# end %>

  <img src="<%= @content.image.url %>">

  <% if signed_in? && @content.user_id == current_user.id %>
    <%= render "contents/login_info" %>
  <% else %>
    <%= render "contents/logout_info" %>
  <% end %>
</div>

<div class='comment_total_wrap'>
  <%= render "comments/show" %>
</div>
